.wrapper {
  width: 1180px;
  margin: 0 auto;
}
.header {
  margin: 0 auto;
  display: flex;
  background-color: red;
}
.header__photo {
  display: flex;
  width: 30%;
  background-color: lightcyan;
}
.header__photo_item {
  margin: 0 auto;
  border-radius: 10%;
  max-width: 250px;
  max-height: 250px;
}
.header__text {
  width: 70%;
  text-align: center;
  align-self: center;
}
.footer {
  height: 50px;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: green;
}