html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  background-color: #2A2C2F;
  scroll-behavior: smooth;
}
ul {
  list-style: none;
  border: 0;
  padding: 0;
}
h1, h2, h3, h4, h5, h6, img {
  border: 0;
  margin: 0;
  text-align: center;
}
a {
  text-decoration: none;
  color:aliceblue
}
.wrapper {
  max-width: 1180px;
  margin: 0 auto;
  color: white;
  font-family: "Inter-Black", Arial, sans-serif;
  position: relative;
  box-shadow: 0 10px 90px rgba(0, 0, 0, 0.4);
}
.header {
  margin: 0 auto;
}
.header-nav {
  margin: 0 auto;
  height: 4rem;
  position: relative;
}
.header-nav::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: white;
  opacity: 0.1;
  bottom: 15px;
  left: 0;
}
.header__subtitle {
  font-weight: 100;
}
.nav-menu {
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  height: 70%;
}
.nav-menu_item {
  display: block;
}
.nav-item_link {
  text-transform: capitalize;
  transition: all .5s ease;
}
.nav-item_link:hover {
  color:hsl(210, 2%, 54%)
}
.header-content {
  display: flex;
  justify-content: space-around;
  width: 80%;
}
.header__photo {
  display: flex;
}
.header__photo_item {
  margin: 0 auto;
  border-radius: 10%;
  max-width: 300px;
  min-width: 300px;
}
.header__text {
  text-align: center;
  align-self: center;
}
.header__title {
  margin: 0;
}
.contacs {
  margin-top: 15px;
}
.contacs__title {

  font-style: normal;
  font-weight: lighter;
}
.contacs__item {
  display: flex;
  align-items: center;
  padding: 5px 0;
}
.contacs__item_link > a {
  transition: all .5s ease;
}
.contacs__item_link > a:hover {
  color:hsl(210, 2%, 54%)
}
.contacs__item_icon {
  max-width: 30px;
  max-height: 30px;
  margin: 0 5px 0 0;
}
.main {
  margin: 0 auto;
  max-width: 1100px;
}
.skills-list {
  display: grid;
  grid: repeat(2, 50px) / auto-flow;
  align-items: center;
  justify-content: space-around;
}
.skills-list__item {
  text-align: center;
  width: 166px;
  transition: all 1 ease; 
}
.skills-list__item:hover {
  box-shadow: 0 15px 90px rgba(0, 0, 0, 0.2);
  cursor:move;
}
.skills-list__item:nth-child(odd) {
  text-align: left;
}
.skills-list__item::before {
  content: "< ";
}
.skills-list__item::after {
  content: " >";
}
.footer {
  height: 50px;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.footer::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: white;
  opacity: 0.1;
  top: 0;
  left: 0;
}
.footer__item {
  height: 50%;
}
.footer-link__icon {
  width: 100%;
  height: 100%;
  color: white;
  transition: all .5s ease;
}
.footer-link__icon:hover {
  opacity: 0.5;
}
.languages-list {
  display: flex;
  justify-content: space-around;
  position: relative;
}
.language-name {
  font-size: 1.1rem;
  font-weight: 100;
  position: relative;
}
.language-name::after {
  position: absolute;
  content: "";
  width: 100%;
  border-bottom: dashed 1px white;
  opacity: 0.1;
  bottom: -10px;
  left: 0;
}
.education-list__item {
  display: grid;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr 2fr 1fr;
  text-align-last: left;
  position: relative;
  transition: all .4s ease;
}
.education-list__item:hover {
  transform: scale(1.01);
}
.education-list__item::after{
  content: "";
  position: absolute;
  width: 100%;
  border-bottom: dashed 1px white;
  opacity: 0.1;
  bottom: 0;
  left: 0;
}
.education-year {
  grid-column: 1;
}
.education-status {
  grid-column: 2;
}
.education-theme {
  font-weight: 100;
  grid-column: 3;
}
.education-link {
  grid-column: 4;
  text-decoration: underline;
}
.education-link-item {
  transition: all .5s ease;
}
.education-link-item:hover {
  color:hsl(210, 2%, 54%);
}
.section-wrapper {
  padding: 25px 0;
  position: relative;
}
.section-title {
  margin-bottom: 15px;
  font-size: 54px;
  line-height: 58px;
}
.section-text {
  font-size: 1.5rem;
}
.section-wrapper::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: white;
  opacity: 0.1;
  top: 0;
  left: 0;
}
.projects {
  max-width: 100%;
}
.code {
  display: block;
  background-color: rgb(56, 55, 55);
}
.cards-wrapper {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
}
.card {
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  height: 300px;
  width: 95%;
  color: whitesmoke;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}
.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 1s ease;
}
.card:nth-child(1):before {
  background-image: url(./images/library.png);
}
.card:nth-child(2):before {
  background-image: url(./images/audio-player.png);
}
.card:nth-child(3):before {
  background-image: url(./images/image-gallery.png);
}
.card:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.32) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.54) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.79) 100%);
  transition: all 1s ease;
}
.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  z-index: 1;
}
.title {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
}
.text {
  font-size: 1.3rem;
  font-style: italic;
  line-height: 1.35;
}
.btn {
  cursor: pointer;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 0.65rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: white;
  background-color: black;
  border: none;
  transition: all 0.5s ease;
  border: 1px dotted white;
}
.btn:hover {
  border: 1px solid white;
}
@media (hover: hover) and (min-width: 600px) {
  .card:after {
    transform: translateY(0);
  }
  .content {
    transform: translateY(calc(100% - 4.5rem));
  }
  .content > *:not(.title) {
    opacity: 0;
    transform: translateY(1rem);
  }
  .card:hover,
.card:focus-within {
    align-items: center;
  }
  .card:hover:before,
.card:focus-within:before {
    transform: translateY(-10%);
  }
  .card:hover:after,
.card:focus-within:after {
    transform: translateY(-50%);
  }
  .card:hover .content,
.card:focus-within .content {
    transform: translateY(0);
  }
  .card:hover .content > *:not(.title),
.card:focus-within .content > *:not(.title) {
    opacity: 1;
    transform: translateY(0);
  }
  .card:focus-within:before, .card:focus-within:after,
.card:focus-within .content,
.card:focus-within .content > *:not(.title) {
    transition-duration: 0s;
  }
}
.color-1 {
  color: rgb(147,98,131);
}
.color-2 {
  color: rgb(5,145,221);
}
.color-3 {
  color: rgb(230,186,208);
}